body {
  background-color: black;
  color: white;
}

.Main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.messageComponents {
  background-color: #000000;
  border-radius: 4px;
  width: 100%;
  max-width: 100%;
}

.message {
  font-family: monospace;
  font-size: 14px;
  font-weight: 400;
  padding-left: 4px;
}

.message.user {
  color: white !important;
  font-family: monospace;
  font-size: 14px;
}

.message.bot {
  color: #729fcf;
  background-color: transparent;
  font-family: monospace;
  font-size: 14px;
  padding-left: 4px;
  margin: 0;
}

.prompt {
  display: inline-flex;
  font-family: monospace;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  color: #ffff;
  white-space: nowrap;
  padding: 4px 11px;
}

.inputArea {
  color: white;
  font-family: monospace;
  font-size: 14px;
  outline: none;
  flex-grow: 1;
  resize: none;
}

.terminal-chat {
  display: flex;
}

.btn-settings {
  position: absolute;
  font-size: 20px;
  margin: 10px;
  top: 10px;
  right: 10px;
  z-index: 2;
}

.warning {
  margin-right: 5px;
  font-family: monospace;
  color: #ff0000;
  display: inline;
  margin: 0;
  padding: 0;
}

.cancelButton {
  margin: 10px;
}

.description {
  font-size: 10px;
  font-weight: bold;
  color: gray;
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}

.terminal {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
  flex-grow: 1;
}
